body {
    margin: 0;
    padding: 0;
}

/* common style */
a {
    text-decoration: none;
    color: #131313;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    cursor: pointer;
    background-color: #ff900e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 16px 36px;
    font-size: 18px;
}
.btn-primary:hover {
    background-color: #fa8704;
}
.section-margin {
    margin-top: 130px;
}
p {
    font-size: 19px;
    color: #727272;
    line-height: 26px;
}

/* navbar style */
header {
    background-color: #fff4e7;
    padding-top: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 45px;
    font-weight: 700px;
}
.logo > span {
    color: #ff900e;
}
.navbar > ul {
    display: flex;
    list-style: none;
    font-size: 18px;
}
.navbar > ul > li {
    margin-left: 40px;
}
.navbar > ul > li > a:hover {
    cursor: pointer;
    color: #fa8704;
}

/* banner section style */
.banner {
    text-align: center;
}
.banner > h1 {
    margin-top: 70px;
    font-size: 64px;
    font-weight: 700;
}
.banner img {
    width: 100%;
    margin: 50px 0 40px;
}

/* features section style */
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 24px;
}
.features-info > h1 {
    font-size: 45px;
    color: #727272;
}
.features-info .black {
    font-weight: bold;
    color: #131313;
}
.features-info .orange {
    font-weight: bold;
    color: #ff900e;
}
.features-info > p {
    margin-bottom: 30px;
}

/* love & enjoy section style */
.love-enjoy {
    display: flex;
    justify-content: space-between;
    gap: 145px;
}
.love-enjoy .info h1 {
    font-size: 45px;
    font-weight: 700;
    border-left: 4px solid #ff900e;
    padding-left: 10px;
}
.love-enjoy p {
    margin-bottom: 30px;
}
.text-card {
    padding: 10px 35px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #ececec;
    margin-bottom: 25px;
}
.text-card p {
    margin-bottom: 0px;
}
.btn-10-year {
    cursor: pointer;
    background-color: #ff900e;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    padding: 30px 40px;
    font-size: 18px;
    position: relative;
    bottom: 120px;
    left: -90px;
}
.btn-10-year > span {
    font-size: 65px;
    font-weight: 700;
}
.btn-10-year:hover {
    background-color: #fa8704;
}

/* facts section style */
.facts h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.fact-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.fact-card {
    width: 175px;
    height: 155px;
    padding: 45px 35px;
    border: 1px solid #ff900e;
    text-align: center;
    border-radius: 15px;
}
.fact-card span {
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}

/* sponsors section style */
.sponsors {
    margin-top: 130px;
    text-align: center;
}
.sponsors-logo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sponsors-logo > img {
    filter: grayscale(100%);
}
.sponsors-logo > img:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

/* footer section style */
.footer {
    margin: 130px 0 50px 0;
    padding: 40px 0;
    font-size: 20px;
    text-align: center;
    background-color: #fff4e7;
}

.hide {
    display: none;
}

/* ----------------------------------
   Responsive Styles 
-------------------------------------*/

/* Small mobile device */
@media screen and (max-width: 576px) {
    /* common style */
    p {
        font-size: 15px;
        line-height: 20px;
    }
    .btn-primary {
        padding: 10px 20px;
        font-size: 15px;
    }
    .container {
        width: 100%;
    }
    .section-margin {
        margin-top: 80px;
    }

    /* navbar style */
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin: 0 auto;
    }
    .navbar > ul > li {
        margin-left: 18px;
    }

    /* banner style */
    .banner > h1 {
        margin-top: 35px;
        font-size: 30px;
    }
    .banner img {
        width: 91%;
        margin: 30px 0 20px;
    }

    /* features section style */
    .features {
        flex-direction: column;
        text-align: center;
    }
    .features-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features-images img {
        width: 90%;
    }
    .features {
        gap: 0;
    }
    .features-info > h1 {
        font-size: 35px;
    }
    .features-info > p {
        margin-bottom: 20px;
    }
    .features button {
        margin: 0 auto;
    }

    /* love & enjoy section style */
    .love-enjoy {
        display: block;
        padding: 0 15px;
    }
    .love-enjoy .image {
        text-align: center;
    }
    .love-enjoy .image img {
        width: 100%;
    }
    .btn-10-year {
        padding: 15px 19px;
        font-size: 15px;
        bottom: 0;
        left: 0;
    }
    .btn-10-year > span {
        font-size: 30px;
        font-weight: 600;
    }

    /* facts section style */
    .facts {
        margin-top: 60px;
        text-align: center;
    }
    .fact-card-container {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /* sponsors section style */
    .sponsors {
        margin-top: 80px;
    }
    .sponsors-logo {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors-logo img {
        width: 65%;
    }

    /* footer section style */
    .footer {
        margin: 80px 0 50px 0;
        padding: 20px 0;
        font-size: 15px;
    }
}
